<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--Header Fragment-->
<div th:fragment="header" class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="nav-bar-brand" href="#">Student Portal</a>
            <div class="navbar-nav">
                <a class="nav-bar-link btn btn-primary mr-5" th:href="@{/}">Home</a>
                <a class="nav-bar-link btn btn-primary" th:href="@{/student/add}">Add Student</a>
            </div>
        </div>
    </nav>
</div>

</body>
</html>